<h2>Translation Model</h2>
<p>To manage multiple languages there is a translation model, every specific word in campanify 
	<a href="/docs/page">pages</a> and <a href="/docs/templates">templates</a> coming from translation model. 
	With combination of Administrator model, Translation model lets you translate your campaign site easily. In other words
	the reason behing translation model, be able to translate site without touching templates and other advanced stuff.  
	If you have a translation object with key `welcome`, value `willkommen` and locale `de` then 
	an example usage of translations is; 
	<pre>&lt;%= t("welcome") %&gt;</pre> so output obviously will be 
	<pre>willkommen</pre>
</p>
<h3>Attributes</h3>
<p>Locale, Key, Value</p>
