<h2>Content::Widget Model</h2>
<p>There is a Widget model to share a content or a piece of code across <a href="/doc/page">pages</a>. 
	Like a <a href="/doc/page">Page</a> model, widget body can contain ERB code too. To include a 
	<a href="/docs/widget">widget</a> with name `My Widget` into a <a href="/doc/page">page</a> you should write
	<pre>&lt;%= include_widget "my-widget" %&gt;</pre>
</p>
<h3>Attributes</h3>
<p>Title, Slug, Body</p>
<h4>Title</h4>
<p>Title of the page</p>
<h4>Slug</h4>
<p>Url friendly version of title</p>
<h4>Body</h4>
<p>Content of your page</p>	