<div class="fb-comments" data-href="<%= href %>" data-num-posts="4"></div>
<% content_for :scripts do %>
<script>
/* VERY DIRTY FB COMMENT WIDTH HACK */
$(document).ready(function(){
	$.campanify.fbCommentHack = setInterval(function(){
		if( $(".fb_iframe_widget iframe").length > 0 ){
			$(".fb-comments, .fb-comments .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe").css({width: '100%'});
		}
	}, 1000);
});
</script>
<% end %>