<section class="users">
	<h1>Users</h1>
	<nav class="sort">
		Sort by 
		<%= link_to_if !has_sort("popularity"), "popularity", users_path(sort: "popularity") %> or 
		<%= link_to_if has_sort("popularity"), "date", users_path %>		
	</nav>
	<% unless users.empty? %>
	<div class="thumbs clearfix">
	<% users.each do |user| %>
	<%= link_to image_tag(user.avatar_url(:thumb)), user, :class => "thumb" %>
	<% end %>
	</div>
	<% else %>
	<p>Nobody has signed up yet, <a href="/users/sign_up">be the first</a></p>
	<% end %>
</section>
<%= paginate users %>