<section class="users">
	<h1>Users</h1>
	<% unless users.empty? %>
	<div class="thumbs clearfix">
	<% users.each do |user| %>
	<%= link_to image_tag(user.avatar_url(:thumb)), user, :class => "thumb" %>
	<% end %>
	</div>
	<% else %>
	<p>Nobody has signed up yet, <a href="/users/sign_up">be the first</a></p>
	<% end %>
</section>
<%= paginate users %>