<div class="fb-comments" data-href="<%= href %>" data-num-posts="4"></div>
<script>
/* VERY DIRTY FB COMMENT WIDTH HACK */
$(document).ready(function(){
	$.campanify.fbCommentHack = setInterval(function(){
		console.log($(".fb_iframe_widget iframe"))
		if( $(".fb_iframe_widget iframe").length > 0 ){
			$(".fb-comments, .fb-comments .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe").css({width: '100%'});
			clearInterval($.campanify.fbCommentHack);
		}
	}, 100);
});
</script>