<h2>Page Model</h2>
<p>Page model lets you create HTML5 pages with Ruby on Rails power. Yes you can use &lt; &gt; ERB tags in pages. 
	For example to include a <a href="/docs/widget">widget</a> with name `My Widget` into a page you should write
	<pre>&lt;%= include_widget "my-widget" %&gt;</pre>
</p>
<h3>Attributes</h3>
<p>Title, Slug, Body, Published At</p>
<h4>Title</h4>
<p>Title of the page</p>
<h4>Slug</h4>
<p>Url friendly version of title</p>
<h4>Body</h4>
<p>Content of your page</p>	
<h4>Published At</h4>
<p>...</p>