<h2>Post Model</h2>
<p>Post is a special model that you can not create from administration area. The Post Model is only available 
	for users and every user can create an article on your site. But of course you can moderate all post entries 
	from admin.
</p>
<h3>Attributes</h3>
<p>Title, Slug, Body, User, Popularity</p>
<h4>Title</h4>
<p>Title of the post</p>
<h4>Slug</h4>
<p>Url friendly version of title</p>
<h4>Body</h4>
<p>Content of the post in Markdown format</p>
<h4>User</h4>
<p>Author of the post</p>
<h4>Popularity</h4>
<p>Popularity calculating over visits and likes</p>