<h2>User Model</h2>
<p>A model to save signatures and their owners. Users also called `supporters` recording by their countries and 
	branches if there is specified one branch. The data fields of user model are dynamic and can be set from 
	<a href="/docs/settings">settings</a>
</p>
<h3>Attributes</h3>
<p>*Dynamic</p>
