<h2>Asset Model</h2>
<p>To manage javascript and stylesheet files on campanify cloud. All created assets are 
	included automatically in your layout file with below lines 
<pre>&lt;%= stylesheet_theme_tag %&gt;</pre> and 
<pre>&lt;%= javascript_include_theme %&gt;</pre>
</p>
<h3>Attributes</h3>
<p>Filename, Body, Content Type</p>
<h4>Filename</h4>
<p>Filename of your asset, just think like creating a file on filesystem, ex: <code>mystyle.css</code></p>
<h4>Body</h4>
<p>Content of your file</p>	
<h4>Content Type</h4>
<p>Currently supported content types for assets are <code>application/javascript</code> and <code>text/css</code></p>