<h2>Import Model</h2>
<p>Bulk CSV Import
</p>
<h3>Attributes</h3>
<p>File, Model, Uniq Field</p>
<h4>File</h4>
<p>Comma seperated CSV file, max 10MB</p>
<h4>Model</h4>
<p>Data Model of records in csv file</p>
<h4>Uniq Field</h4>
<p>Uniq ID field for find and replace function, you should set this email for User model</p>