<h2>Administrator Model</h2>
<p>All Campanify sites contain one Administrator account with <strong>root</strong> role by default. You can
manage adminstrator accounts on <a href="/admin/administrators">admin/administrators</a></p>
<h3>Attributes</h3>
<p>Email, Full Name, Phone, Role</p>
<h4>Email</h4>
<h4>Full Name</h4>
<h4>Phone</h4>
<h4>Role</h4>
<p>Adminstrator role indicates the abilities of an account, which listed below;</p>
<dl>
	<dt>Root:</dt>
	<dd>Can manage All</dd>
	<dt>Developer:</dt>
	<dd>Can manage All except <a href="/docs/administrator">Administrator</a>, 
		<a href="/docs/campaign">Campaign</a>, <a href="/docs/settings">Settings</a>
	</dd>	
	<dt>Editor</dt>
	<dd>Can manage  <a href="/help/content_event">Content::Event</a>, 
		<a href="/docs/content_media">Content::Media</a>, <a href="/docs/content_page">Content::Page</a>, 
		<a href="/docs/content_post">Content::Post</a>, <a href="/docs/content_widget">Content::Widget</a>
	</dd>
</dl>	