<h2>Campaign Model</h2>
<p>All Campanify sites has and can only one Campaign model and this can be managed at 
	<a href="/admin/campaigns">admin/campaigns</a></p>
<h3>Actions</h3>	
<h4>Restart!</h4>
<p>To restart your server instance(s)</p>
<h3>Attributes</h3>
<p>Name, Domains, Plan</p>
<h4>Name</h4>
<p>Name of your campaign</p>
<h4>Domains</h4>
<p>You can add or remove custom domains there, after or before adding your custom domain(s) 
	you should set up your DNS properly. To do that, just add a new CNAME record with your 
	Campanify uniq url as a value, for example;<br/>
	<pre>CNAME your-custom-domain your-slug.campanify.it</pre>
</p>	
<h4>Plan</h4>
<p>The plan of your site, account owners can change this from <a href="//campanify.it" target="_blank">campanify.it</a></p>