<h2>Event Model</h2>
<p>To link with real world actions and events like protests or marches, there is the Event model. 
	Event model lets you create a Facebook event simultaneously when you create a new event in Campanify.
</p>
<h3>Attributes</h3>
<p>Name, Description, Start Time, End Time, Location, Venue, Privacy, Parent</p>
<h4>Venue</h4>
<p>You can choose a place in the world via map</p>
<h4>Privacy</h4>
<p>Facebook event privacy option</p>
<h4>Parent</h4>
<p>Linked Facebook Account</p>	
