/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* DEMO STYLES */
body{
/*	font-family: 'Letter Gothic Std', Monaco, Helvetica, Arial, Sans-Serif;*/
	font-family:  Monaco, Helvetica, Arial, Sans-Serif;	
	font-size: 0.8em;
	line-height:1.8em;		
	color:#333;
	background:#F9F9F9;
}
a{
	text-decoration: none;
	border-bottom:1px solid crimson;
	color:crimson;
}
a.true{
	font-weight:bold;
}
form{
	background:white;
	margin:0 0 1em 0;
	padding:2em;
	
	-webkit-box-shadow: 0px 0px 15px 0px #c8c8c8;
	box-shadow: 0px 0px 15px 0px #c8c8c8;

	-webkit-border-radius: 4px;
	border-radius: 4px;

	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
}
form fieldset > div, form fieldset > ol > li, form .actions, form .buttons{
	margin:1em 0;
}
form .actions, form .buttons{
	margin:2em 0 0 0;
}
form legend{
	margin-bottom:1.6em;
}
label{
	display:inline-block;
	width:20%;
	min-width:100px;
	margin-right:1em;
	vertical-align:middle;
	font-weight:bold;
}
input, textarea, select{
	font:inherit;	
	background:transparent;	
	border:none;
	border-bottom:1px dashed #999;	
	outline:none;
	color:#333;
	width:100%;
}
textarea{
	max-width:100%;		
/*	height:92px;
	min-height:92px;
	max-height:92px;*/
}
input:focus, textarea:focus{
	border-bottom:1px dashed #333;	
	color: #333;
}
input[type=checkbox]{
	width:auto;
}
input[type=submit], button{
	padding:0 0 0.2em;
	margin:0;
	border:none;
	background:transparent;	
	font:inherit;
	font-size:2.2em;
	font-weight:bold;
	color:darkOrange;
	line-height:1.1em;
	cursor:pointer;
	width:100%;
	padding:.4em .2em;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
}
input[type=submit]:hover, button:hover{
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: 0 0 2px rgba(0,0,0,.2),  0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
input[type=submit]:active, button:active{
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: inset 0 0 2px rgba(0,0,0,.2), inset 0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
h1{
	font-size:2.3em;
	line-height: 1.4em;	
	font-weight:900;	
	margin-bottom:0.6em;
	text-align:center;
}
h2, legend{
	font-size:1.8em;
	line-height:1.2;
	font-weight:bold;	
	margin-bottom:0.6em;
	text-align:center;
}
h3{
	font-size:1.2em;
	font-weight:bold;	
	margin-bottom:0.4em;	
}
h4{
	font-size:1.0em;
	font-weight:bold;	
	margin-bottom:0.4em;	
}
h5{
	font-size:1.0em;
	font-weight:bold;	
	margin-bottom:0.2em;
}
h6{
	font-size:0.8em;
	font-weight:bold;	
	margin-bottom:0.2em;
}
p{
	margin-bottom:3em;
}
p.alert{
	background: lightblue;
	padding: 1em;
	color: crimson;
	font-weight: bold;
}
p.notice{
	padding: 1em;
	background: darkSeaGreen;
	color: darkGreen;
	font-weight: bold;
}
blockquote{
	font-style: italic;
}
strong{
	font-weight:bold;
}
em{
	font-style: italic;
}
pre{
	background:#333;
	color:#f0f0f0;
	padding:0.2em;
	border:1px solid white;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
#error_explanation{
	background: lightblue;
	padding: 1em;
	color: crimson;
	margin-bottom: 1em;
	-webkit-border-radius: 4px;
	border-radius: 4px;

	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;	
}
#error_explanation ul li{
	list-style: square;
	margin-left: 2em;
}
dl{
	margin-bottom:1em;
}
dt{
	font-weight:bold;
	width:20%;
	min-width:120px;
	float:left;
}
#main{
	width:75%;
	max-width:720px;
	margin:5% auto;
}
header{
	height: 96px;
	vertical-align: bottom;
	position: relative;
	margin-bottom:4em;
}
header a.logo{
	border:none;
	position:relative;
	left:10px;
}
header nav{
	position: absolute;
	right: 0;
	top: 43px;
}
header .addthis_toolbox{
	position: absolute;
	right: 0;
	top: 0;
	width: 242px;
}
.addthis_toolbox a, #at20mc a{
	border:none;	
}
header .addthis_toolbox a{
	padding: 0 !important;
	margin: 0 1em 0 0 !important;
	overflow:hidden;	
}
header .addthis_toolbox .addthis_button_facebook_like{
	width:46px;
}
header .addthis_toolbox .addthis_button_tweet{
	width:56px;
}
header .addthis_toolbox .addthis_button_pinterest_pinit{
	width:49px;
}
header .addthis_toolbox .addthis_counter{
	width:50px;
	margin:0 !important;
}
header select.language{
	width: 90px;
	border: 1px solid crimson;
	position: absolute;
	font-size: 0.6em;
	bottom: 0px;
	right: 0;
	text-align:right;
}
footer{
	text-align:left;
	position:relative;
}
footer a.campanify{
	position:absolute;
	right:0;
	display: inline-block;
	border:none;
	color:#333;
}
footer .addthis_toolbox{
	vertical-align: top;
}
nav.links{
	text-align:center;
}
nav.sort{
	margin-bottom:1em;
}
#content{
	padding:2em;
}
#content > section, #content > article, nav.pagination, #map_canvas{
	margin-bottom:4em;
}
article.form{
	margin:0 0 4em -10%;
	width:120%;
}
article.post section.body{
	margin-bottom:4em;
}
#post_edit_form_container{
	display:none;
}
section.users .thumbs{
	text-align:center;
}
section.users .thumbs a{
	border:none;
	padding:0;
	margin:0;
	width:96px;
	height:96px;	
	overflow:hidden;
	display:inline-block;
	
	display: inline-block;
  margin: 5px;
  padding: 5px;
  background: #fff;
  position: relative;
  box-shadow: 0 5px 7px -5px rgba(0,0,0,.6), 0 0 1px 1px rgba(0,0,0,.1);
}
article.user .avatar{
	width:100%;
	margin:0 0 3em 0;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
table{
	width: 100%;
	margin:0 0 3em 0;
}
td{
	padding:0.2em;
	border:1px solid #f0f0f0;
}
td:nth-child(2), td:nth-child(3){
	text-align:center;
}
tr:nth-child(2n) td{
	background:#fff;
}
/* WIDGETS */
.flexslider a{
	border:none;
}
#social-sharing{
	margin:0 0 3em 0;
}
#social-sharing > div{
	text-align:center;
}
#social-sharing label{
	width:auto;
	font-size: 2em;
	margin:0 1em 1em 0;
	padding:0;	
}
#social-sharing a{
	border:none;
	margin:0 1em 1em 0;
	float:none;
	display:inline-block;
}
#social-sharing a button{
	width:auto;
	background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,0));
	box-shadow: 0 0 2px rgba(0,0,0,.2),  0 2px 5px rgba(0,0,0,.2), 0 1px rgba(255,255,255,.2);
}
/* HELPERS */
.hidden{
	display:none;
}
/*
 * Contain floats: h5bp.com/q
 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

iframe.video{
	width:100%;
}

@media only screen and (max-width: 720px) {	
	body{
		font-size:0.7em;
	}
	header{
		margin-bottom:6em;
	}
	header nav{
		top:28px;
	}
	header .logo img{
		width:160px;
		top:20px;
		position:relative;
	}
	footer .addthis_toolbox{
		display:inline-block;
		width:160px;
	}
	header .addthis_toolbox{
		top:120px;
	}
	#social-sharing label{
		width:100%;
	}
}